<h1>Editing Book</h1>

<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>

  <p>Title</p>
  <%= f.text_field :title %>

  <p>Body</p>
  <%= f.text_area :body %>
  
  <p><%= f.submit 'Update Book' %></p>
  
  <%= link_to "Show", book_path(@book.id) %>
  
  <%= link_to "Back", books_path %>

<% end %>

